<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Coronavirus Timeline</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> Here is the Timeline for the Coronavirus. Scroll to see the history of the story and get caught up! </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
	Available Stories
      </p>
      <ion-spinner *ngIf="!articles" name="dots"></ion-spinner>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let article of articles">
    <div (click)="openInAppBrowser(article.url)">
      <ion-img src="{{article.urlToImage}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{article.title}}</ion-card-subtitle>
      </ion-card-header>
    </div>
    <ion-card-content>
      <p>
	{{article.description}}
      </p>
    </ion-card-content>
  </ion-card>
  
	

</ion-content>
