<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="newspaper" src="/assets/newspaper-outline.svg"></ion-icon>
    </ion-tab-button>
    <!-- temporary, timeline should be changed to discover/explore page -->
    <ion-tab-button tab="timeline"> 
      <ion-icon name="globe" src="/assets/globe-outline.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="interests">
      <ion-icon name="person" src="/assets/person-outline.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
