<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="app-header">
      Electric
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> Get news in context </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Timeline: Coronavirus
      </p>
      <ion-spinner *ngIf="!articles" name="dots"></ion-spinner>
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngFor="let article of articles">
    <div (click)="openInAppBrowser(article.url)">
      <ion-img src="{{article.urlToImage}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle class="article-title">{{article.title}}</ion-card-subtitle>
      </ion-card-header>
    </div>
  </ion-card>

  

</ion-content>
