<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="app-header">
      Electric
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> Welcome to the Timeline Feature. Currently displaying a few top stories with available timelines. Click to see the development of the these top stories! </ion-card-subtitle>
    </ion-card-header>
    <ion-button ion-button fill="outline" href="/coronavirus" >Coronavirus</ion-button>
    <ion-button ion-button fill="outline" href="/government" >Government Response</ion-button>
    <ion-button ion-button fill="outline" href="/economy" >Economic Crisis</ion-button>

  </ion-card>

  

</ion-content>
