<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="app-header">
      Electric
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="scroll" scrollX="true">
<ion-segment #S (ionChange)="segmentChanged(S.value)">
    <div *ngFor="let section of abcData">
        <ion-segment-button value="{{json.stringify(section)}}">
          <ion-label>{{section.title}}</ion-label>
        </ion-segment-button>
    </div>
  
</ion-segment>
</div>

<ion-content color="primary">
  <ion-card *ngFor="let article of articles">
    <div (click)="openInAppBrowser(article.url)">
      <ion-img src="{{article.image}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle class="article-title">{{article.title}}</ion-card-subtitle>
      </ion-card-header>
    </div>
    <ion-card-content>
      <ion-button class="feed-button" (click)="viewpointsOnClick(article)" fill="outline" large>Other Viewpoints</ion-button>
      <ion-grid [hidden]=isHiddenForArticle(article)>
        <ion-row no-padding>
          <ion-col *ngFor="let suggested of suggestedArticles">
            <ion-img src ="{{suggested.image}}" (click)="openInAppBrowser(suggested.url)"></ion-img>
                  <h3>{{suggested.title}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>